@model FantasyFootballStats.Models.PlayerFilter


@using(Html.BeginForm()) {

    <fieldset class="Positions">
        <legend>Position:</legend>
        @foreach(string position in FantasyFootballStats.Models.GameValues.Positions) {
            <label for="@position">@position</label>
            @Html.RadioButton("Position", position, new { id = position })
        }
    </fieldset>
    <fieldset class="Teams">
        <legend>Team:</legend>
        @foreach(string team in FantasyFootballStats.Models.GameValues.Teams) {
            <label for="@team">@team</label>
            <input type="checkbox" name="Team" id="@team" value="@team" checked="@Model.Team.Contains(team)" />
        }
    </fieldset>
            
    <input type="submit" />
}

