@model FantasyFootballStats.Models.PlayerFilter


<form id="statsForm">

    <fieldset class="Positions boxen">
        <legend>Position:</legend>
        @foreach (string position in FantasyFootballStats.Models.GameValues.Positions)
        {
            <label for="@position">@position</label>
            @Html.RadioButton("Position", position, new { id = position })
        }
    </fieldset>
    <fieldset class="Teams boxen">
        <legend>Team:</legend>
        @foreach (string team in FantasyFootballStats.Models.GameValues.Teams)
        {
            <label for="@team">@team</label>
            <input type="checkbox" name="Team" id="@team" value="@team" checked="@Model.Team.Contains(team)" />
        }
    </fieldset>

    <fieldset class="Fields boxen">
        <legend>Fields:</legend>
        @foreach (string field in FantasyFootballStats.Models.GameValues.PopularFields)
        {
            <label for="@field" data-field="@field">@field</label>
            <input type="checkbox" name="Field" id="@field" value="@field" />
        }
    </fieldset>

    <fieldset class="Define">
        <legend>Custom fields:</legend>
        @for (int i = 0; i < 4; i++)
        {
            <div>
                <input />
                <textarea rows="1" cols="120" class="definition"></textarea>
            </div>
        }
    </fieldset>

    <fieldset>
        <legend>Filters:</legend>
        <label>Max cost:</label><input type="number" name="maxCost" max="20" min="0" step="0.1" />
    </fieldset>

    @{
        string visableCode = FantasyFootballStats.Models.DebugHelper.IsDebug ? "" : "display:none;";
    }

    <fieldset style="@visableCode">
        <legend>Code:</legend>
        <textarea id="code" rows="10" cols="120">select *</textarea>
    </fieldset>

    <div id="result"></div>

    <input type="submit" />

</form>
