@model FantasyFootballStats.Models.PlayerFilter


<form id="statsForm">

    <fieldset class="Positions">
        <legend>Position:</legend>
        @foreach(string position in FantasyFootballStats.Models.GameValues.Positions) {
            <label for="@position">@position</label>
            @Html.RadioButton("Position", position, new { id = position })
        }
    </fieldset>
    <fieldset class="Teams">
        <legend>Team:</legend>
        @foreach(string team in FantasyFootballStats.Models.GameValues.Teams) {
            <label for="@team">@team</label>
            <input type="checkbox" name="Team" id="@team" value="@team" checked="@Model.Team.Contains(team)" />
        }
    </fieldset>

    <fieldset>
        <legend>Code:</legend>
        <textarea id="code" rows="10" cols="120">@DateTime.Now</textarea>
    </fieldset>
    
    <div id="result"></div>

    <input type="submit" />

</form>

